.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.rdrStaticRange {
  border: 1px solid !important;
}

.rdrStaticRanges {
  align-items: center;
}

.rdrStaticRangeLabel {
  text-align: center !important;
}

.rdrDateDisplayWrapper {
  display: none;
}

.selected-range {
  border: 1px solid !important;
  color: white !important;
  background-color: lightblue !important;

  margin: 1em 0;
  border-radius: 10px;
}

.rs-picker-daterange-panel {
  display: flex;
  flex-direction: row;
}
.rs-picker-daterange-content {
  order: 2;
}
.rs-picker-toolbar {
  order: 1;
}
.rs-picker-toolbar-ranges {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
  height: auto !important;
}
.rs-picker-toolbar-option {
  margin: 1em !important;
  color: lightblue !important;
  background-color: transparent !important;
  border: 1px solid lightblue !important;
  padding: 1em !important;
  border-radius: 10px !important;
  outline: none !important;
}
.rs-picker-toolbar-right {
  display: none;
}
